<!--
  ~
  ~    Copyright (c) 2016. Kamesh Sampath.
  ~
  ~    Licensed under the Apache License, Version 2.0 (the "License");
  ~    you may not use this file except in compliance with the License.
  ~    You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~    Unless required by applicable law or agreed to in writing, software
  ~    distributed under the License is distributed on an "AS IS" BASIS,
  ~    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
  ~    implied.
  ~
  ~    See the License for the specific language governing permissions and
  ~    limitations under the License.
  ~
  -->

<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
				"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.workspace7.mybatis.itests.mappers.PersonMapper">

		<resultMap id="PersonResultMap" type="org.workspace7.osgi.mybatis.itests.mappers.Person">
				<result property="id" column="id"/>
				<result property="firstName" column="first_name"/>
				<result property="lastName" column="last_name"/>
		</resultMap>

		<select id="selectAllPersons" resultMap="PersonResultMap">
				select * from Persons
		</select>
</mapper>